h1 {
    
    background-color: tomato;
    color: gold;
    border: 5px solid blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

body {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

label {
display: block;
padding: 5px;

}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background: lawngreen;
    color: blueviolet;
    padding: 25px;
}